#room header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1) {
    margin-right: 8rem;
    padding: 13rem 16rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 10rem;
    width: 20rem;
    height: 20rem;
}

#room header .buttons .button:nth-child(2) {
    margin-right: 8rem;
    padding: 13rem 32rem;
}

#room header .buttons .button:nth-child(2) img {
    width: 20rem;
    height: 20rem;
}

.content {
    max-width: min(1120rem, 90%);
}

/* Form */

#questionForms h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28rem;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 24rem;
    line-height: 42rem;
}

#questionForms form {
    border: 2rem solid var(--grayBlue);
    padding: 16rem;
    border-radius: 0 8rem 8rem 8rem;
    margin-bottom: 16rem;
}

#questionForms textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    outline: none;
}

#questionForms textarea::placeholder {
    color: var(--grayBlue);
}

#questionForms form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#questionForms form footer > div {
    display: flex;
    color: var(--iconsDetails);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14rem;
}

#questionForms form footer > div img {
    margin-right: 9rem;
}

#questionForms form footer button {
    height: auto;
    padding: 8rem 24rem;
    line-height: 24rem;
}

/* Questions */

.questionWrapper {
    background-color: var(--lightBlue);
    padding: 24rem;
    margin-bottom: 8rem;
    border-radius: 0 8rem 8rem 8rem;
}

.questionWrapper .questionContent {
    display: flex;
    align-items: flex-start;
}

.questionWrapper .questionContent .user {
    background-color: var(--blue);
    clip-path: circle();
    padding: 14rem;
}

.questionWrapper .questionContent p {
    margin-left: 16rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 52rem;
}

.questionWrapper .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.questionWrapper .action > a {
    display: flex;
    align-items: center;
    color: var(--grayDark);
}

.questionWrapper .action > a > img {
    margin-right: 8rem;
}

.questionWrapper .action > a + a {
    margin-left: 24rem;
}

.questionWrapper.read {
    background-color: var(--grayInactive);
}

.questionWrapper.read .questionContent .user {
    background-color: var(--grayBlue);
}

/* No questions */

.noQuestions {
    text-align: center;
    margin-top: 52rem;
}

.noQuestions img {
    max-width: 100%;
    margin-bottom: 12rem;
}

.noQuestions p {
    font-family: 'Poppins', sans-serif;
    font-size: 18rem;
    font-weight: 600;
}

.noQuestions p + p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14rem;
    font-weight: 400;
    margin-top: 13rem;
    line-height: 19rem;
}