<!Doctype html>

<head>
    <title>Rocket Q</title>
    <!-- Charset -->
    <meta charset="UTF-08">
    <!-- Edge Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./style/global.css">
    <link rel="stylesheet" href="./style/home.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
        <header>
            <img src="./images/logo.svg" alt="Logo do Rocket.Q" />
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <main>
            <div class="container">
                <section>
                    <h2>Crie sua própria sala</h2>
                    <form action="">
                        <label class="sr-only" for="roomPass">Insira uma senha</label>
                        <input type="number" id="roomPass" placeholder="Insira uma senha">
                        <button class="button"><img src="./images/users-white.svg" alt="icon usuários">Criar sala</button>
                    </form>
                </section>
            </div>
        </main>
    </div>

</body>

</html>