<html>
    <head>
        <title>SENHA INCORRETA</title>

        <script>
            confirm("SENHA INCORRETA")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>