<!Doctype html>

<head>
    <title>Rocket Q - Perguntas e Respostas</title>
    <!-- Charset -->
    <meta charset="UTF-08">
    <!-- Edge Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./style/global.css">
    <link rel="stylesheet" href="./style/room.css">
    <link rel="stylesheet" href="./style/modal.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="room" class="content">
        <header>
            <img src="./images/logo.svg" alt="Logo do Rocket.Q" />

            <div class="buttons">
                <div class="button outlined">
                    #323243
                    <img src="./images/copy.svg" alt="Copiar número da sala">
                </div>
                <a href="#" class="button"><img src="./images/users-white.svg" alt="Criar sala">Criar Sala</a>
            </div>
        </header>

        <section id="questionForms">
            <h2>Faça a sua pergunta</h2>
            <form action="">
                <label class="sr-only" for="question">O que você quer pergutnar?</label>
                <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                <footer>
                    <div>
                        <img src="./images/lock.svg" alt="cadeado">
                        Esta pergunta é anônima
                    </div>
                    <button>Enviar</button>
                </footer>
            </form>
        </section>
        <div id="questions">
            <h2 class="sr-only">Perguntas da comunidade</h2>
            <div class="questions">
                <div class="questionWrapper">
                    <div class="questionContent">
                        <div class="user">
                            <img src="./images/user.svg" alt="icon de avatar">
                        </div>
                        <div class="question">
                            <p>Qual a diferença entre const, var e let no JS?</p>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#" class="check"><img src="./images/check.svg" alt="Icon marcar lido">Marcar como
                            lida</a>
                        <a href="#" class="delete"><img src="./images/trash.svg" alt="Icon excluir">Excluir</a>
                    </div>
                </div>

                <div class="questionWrapper">
                    <div class="questionContent">
                        <div class="user">
                            <img src="./images/user.svg" alt="icon de avatar">
                        </div>
                        <div class="question">
                            <p>O que é Javascript?</p>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#" class="check"><img src="./images/check.svg" alt="Icon marcar lido">Marcar como
                            lida</a>
                        <a href="#" class="delete"><img src="./images/trash.svg" alt="Icon excluir">Excluir</a>
                    </div>
                </div>

                <div class="questionWrapper">
                    <div class="questionContent">
                        <div class="user">
                            <img src="./images/user.svg" alt="icon de avatar">
                        </div>
                        <div class="question">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt natus assumenda magnam
                                aliquid. Dolorum asperiores similique, voluptatibus expedita quas beatae labore deleniti
                                reiciendis repudiandae a quis fugit pariatur vel doloribus.
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas eius tempore eveniet
                                expedita asperiores minus voluptas consequuntur doloribus. Quod repellendus iste quia
                                vitae fuga asperiores alias quibusdam assumenda repudiandae similique!
                            </p>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#" class="check"><img src="./images/check.svg" alt="Icon marcar lido">Marcar como
                            lida</a>
                        <a href="#" class="delete"><img src="./images/trash.svg" alt="Icon excluir">Excluir</a>
                    </div>
                </div>

                <div class="questionWrapper read">
                    <div class="questionContent">
                        <div class="user">
                            <img src="./images/user.svg" alt="icon de avatar">
                        </div>
                        <div class="question">
                            <p>O que é TypeScript?</p>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#" class="delete"><img src="./images/trash.svg" alt="Icon excluir">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL -->
    <div class="modalWrapper active">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que deseja excluir esta perguntar?</p>
            <form action="">
                <label for="password" class="sr-only">Digite a sua senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a sua senha">
                <div class="buttons">
                    <div class="button gray">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>