<section>
    <h2>Crie sua própria sala</h2>
    <form action="/createRoom" method="POST">
        <label class="sr-only" for="roomPass">Insira uma senha</label>
        <input type="password" id="roomPass" placeholder="Insira uma senha">
        <button class="button"><img src="./images/users-white.svg" alt="icon usuários">Criar sala</button>
    </form>
</section>
